body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  position: relative;
}

h1, h2, h3, p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

.close-btn {
  position: absolute;
  right: -30px;
  color: #901C1C;
  padding: 12px;
  background-color: transparent;
  display: flex;
  gap: 3px;
}

.arrow {
  width: 20px;
  height: 20px;
  border-style: solid none none solid;
  border-width: 6px;
  color: #901C1C;
  cursor: pointer;
}

.cross-arrow-left {
  transform: rotate(135deg);
}

.cross-arrow-right {
  transform: rotate(-45deg);
}

.close-btn:hover,
.close_button:focus {
  transform: scale(1.1);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter {
  display: flex;
  margin-top: 1.5rem;
  margin-left: 5rem;
  align-items: center;
}
.filter p {
  font-size: 18px;
  font-weight: 900;
}
.filter__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
.filter__wrap__main-btn {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  margin-left: 1rem;
}
.filter-main-btn {
  background: #901C1C;
  color: #FFFFFF;
  border: 1px solid #901C1C;
  font-size: 20px;
  width: 170px;
  height: 4rem;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  text-align: left;
}
.filter-main-btn:hover {
  background-color: #D3573C;
  border: 1px solid #D3573C;
  color: #000;
}
.filter-list {
  display: none;
}
.filter li span {
  display: block;
  border-top: 1px solid white;
  width: 88%;
  line-height: 64px;
}
.filter-list-btn {
  margin: 0;
  padding: 0;
  background: #901C1C;
  color: #FFFFFF;
  border: 1px solid #901C1C;
  font-size: 20px;
  width: 170px;
  margin-left: 1rem;
  text-align: left;
  padding-left: 18px;
  cursor: pointer;
}
.filter-list-btn:hover {
  background-color: #D3573C;
  border: 1px solid #D3573C;
  color: #000;
}
.filter-list-main-btn {
  display: flex;
  align-items: center;
}

/* when the main button is clicked add active class */
.filter-list.active {
  display: block;
  position: absolute;
  z-index: 1000;
}

.filter-main-btn.active {
  border-radius: 5px 5px 0 0;
}

.filter-list-btn.active {
  border-radius: 0 0 5px 5px;
}

.fa-downside.active {
  transform: rotate(270deg);
}

.fa-downside {
  font-size: 19px;
  position: absolute;
  left: 67%;
  color: white;
  transform: rotate(90deg);
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(252, 252, 252, 0.4);
}

.contact_button {
  font-size: 20px;
  font-weight: normal;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 6rem;
}
.contact_button:hover, .contact_button:active {
  background-color: #D3573C;
  border: 1px solid #D3573C;
  color: #000;
}

.modal {
  border-radius: 5px;
  background-color: #D3573C;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
  position: absolute;
  top: 2%;
  left: 25%;
  right: 25%;
  width: 39rem;
}
.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}
.modal header img {
  cursor: pointer;
}
.modal header h1 {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 5px;
  color: #000;
}
.modal header #contactMe {
  margin-top: 1rem;
}
.modal input {
  font-size: 2rem;
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 5px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312E2E;
  font-size: 32px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 10px;
}
form input {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
}
form #message {
  height: 110px;
}

/* contact form error message */
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 18px;
  color: #901C1C;
  display: block;
  margin-top: 2px;
  text-align: left;
  line-height: 1;
  opacity: 0;
  transition: 0.3s;
}

/* when the form is not validated */
.formData[data-error-visible=true]::after {
  opacity: 1;
}

/* confirm modal */
.confirm-bg {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(252, 252, 252, 0.4);
}

.confirm-modal {
  border-radius: 5px;
  background-color: #D3573C;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  width: 39rem;
}
.confirm-modal-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.confirm-modal-wrap p {
  margin: auto;
  font-size: 3rem;
}
.confirm-modal-btn {
  font-size: 20px;
  margin: 0 auto;
  margin-top: 2rem;
  cursor: pointer;
}

.modal__header > .close-btn {
  right: 11px;
  top: 2rem;
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: none;
}
.lightbox figcaption {
  color: #901C1C;
  font-size: 20px;
  background-color: #fff;
  padding: 10px;
  margin-top: -5px;
  border-radius: 0 0 5px 5px;
}
.lightbox__container {
  height: 90%;
  margin: auto;
  position: relative;
  width: 90%;
}
.lightbox__container img,
.lightbox__container video {
  max-width: 800px;
  max-height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}
.lightbox__container .arrow {
  width: 20px;
  height: 20px;
  border-style: solid none none solid;
  border-width: 6px;
  color: #901C1C;
  cursor: pointer;
}
.lightbox__container .cross-arrow-left {
  transform: rotate(135deg);
}
.lightbox__container .cross-arrow-right {
  transform: rotate(-45deg);
}
.lightbox__content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.lightbox__content .arrow-right {
  transform: rotate(135deg);
}
.lightbox__content .arrow-left {
  transform: rotate(-45deg);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin-top: 2rem;
}
header .logo {
  height: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

#main-dscr {
  color: #D3573C;
  margin-right: 100px;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header__profile-wrap__location {
  color: #901C1C;
  font-size: 22px;
  margin-bottom: 1rem;
}

.photographer_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3rem;
}
.photographer_section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-self: center;
  margin-top: 1.5rem;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 30%;
}
.photographer_section article a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}
.photographer_section article h2 {
  color: #D3573C;
  font-size: 36px;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photographer_section article .info {
  text-align: center;
  width: 100%;
  line-height: 1.3;
  margin: 7px 0 0 0;
}
.photographer_section article .info .city {
  color: #901C1C;
  font-size: 14px;
}
.photographer_section article .info .tagLine {
  font-size: 12px;
}
.photographer_section article .info .price {
  font-size: 11px;
  color: #525252;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 3rem;
}
.photograph-header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photograph-header .header__profile-wrap__name {
  color: #D3573C;
}

.filter-section {
  display: flex;
}

.media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem 4rem;
  gap: 15px;
}
.media-container .media__wrap {
  margin: 2rem 0;
  width: 350px;
}
.media-container .media__wrap img,
.media-container .media__wrap video {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
}
.media-container .media__wrap .dscr {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}
.media-container .media__wrap .dscr p,
.media-container .media__wrap .dscr span {
  font-size: 20px;
  color: #901C1C;
}
.media-container .media__wrap .dscr .photoHeart {
  color: RGBA(144, 28, 28, 0.24);
}
.media-container .media__wrap .dscr .photoHeart.active {
  color: #901C1C;
}
.media-container .media__wrap .dscr__like-count {
  display: flex;
}
.media-container .media__wrap .dscr__like-count .liked-number {
  margin-right: 4px;
}
.media-container .media__wrap .dscr__like-count .icon-wrap {
  margin: auto;
}

.likeCounter {
  box-sizing: border-box;
  height: 3.2rem;
  width: 22rem;
  border-radius: 5px 5px 0 0;
  padding: 21px 34px;
  position: fixed;
  right: 4%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DB8876;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}