header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    .logo {
        height: 50px;
        margin-left: 100px;
    }
}

h1 {
    color: $c-sub-bg;
    margin-right: 100px;
    font-size: 2.5rem;
    margin-bottom: 10px;
}


.header__profile-wrap__location {
    color: $c-main;
    font-size: 22px;
    margin-bottom: 1rem;
}