.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 3rem;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        @include boxshadow;
        transition: $transtion;
        &:hover {
            @include hovershadow;
            @include box-animation;
        }
    }
    .header__profile-wrap__name {
        color: $c-sub-bg;
    }
}

.filter-section {
    display: flex;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 4rem;
    gap: 15px;

    .media__wrap {
        margin: 2rem 0;
        width: 350px;

        img,
        video {
            width: 100%;
            height: 350px;
            object-fit: cover;
            cursor: pointer;
            border-radius: 5px;
            @include boxshadow;
            transition: $transtion;
        }

        img:hover,
        video:hover {
            @include hovershadow;
            @include box-animation;
        }

        .dscr {
            display: flex;
            justify-content: space-between;
            margin-top: 6px;

            p,
            span {
                font-size: 20px;
                color: $c-main;
            }
            .photoHeart {
                color: $c-unclicked;
                transition: $transtion;
                &:hover {
                    @include heart-animation;
                }
            }

            .photoHeart.active{
                color: $c-main;
            }

            &__like-count {
                display: flex;

                .liked-number {
                    margin-right: 4px;
                }

                .icon-wrap {
                    margin: auto;
                }
            }
        }
    }
}


.likeCounter {
    box-sizing: border-box;
    height: 3.2rem;
    width: 22rem;
    border-radius: 5px 5px 0 0;
    padding: 21px 34px;
    position: fixed;
    right: 4%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DB8876;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}