#contact_modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(252, 252, 252, 0.4);
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: rgb(219, 136, 118);
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    margin: auto;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 12px;
    position: absolute;
    top: 2%;
    left: 25%;
    right: 25%;
    width: 39rem;

    & header {
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5rem;

        & img {
            cursor: pointer;
        }
        & h2 {
            font-size: 64px;
            font-weight: normal;
            margin-bottom: 5px;
        }

        #contactMe {
            margin-top: 1rem;
        }
    }

    input {
        font-size: 2rem;
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
    }
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    & label {
        color: #312E2E;
        font-size: 36px;
    }

    & div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 10px;
    }

    & input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
    }

    #message {
        height: 200px;
    }
}

/* error message */
.formData[data-error]::after {
    content: attr(data-error);
    font-size: 18px;
    color: $c-main;
    display: block;
    margin-top: 2px;
    text-align: left;
    line-height: 1;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}


/* confirm modal */
.confirm-bg {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(252, 252, 252, 0.4);
  }

  .confirm-modal {
    border-radius: 5px;
    background-color: rgb(219, 136, 118);
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    margin: auto;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 12px;
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    width: 39rem;

    &-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            margin: auto;
            font-size: 3rem;
        }
    }
    &-btn {
        font-size: 20px;
        margin: 0 auto;
        margin-top: 2rem;
        cursor: pointer;
    }
  }
